@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://geist-fonts.vercel.app/stylesheet.css');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3b82f6; /* Indigo-500 */
  --secondary: #6b7280; /* Gray-500 */
  --accent: #10b981; /* Emerald-500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

.mini_logo {
  display: none;
}

@media (max-width: 768px) {
  .full_logo {
    display: none;
  }
  .mini_logo {
    display: block;
  }
}

/* Custom form styles */
input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"],
select {
  @apply w-full p-3 border rounded mt-1 focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none;
}

button {
  @apply transition-colors duration-200;
}
